<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="" rel="stylesheet">
</head>
<body>


<div class="container-fluid ">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"><span class="fs-5 d-none d-sm-inline">Menu</span></a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <!---->
          <li><a href=""><Strong>Espace Bailleurs</Strong> </a></li>
          <li><a href="">Annonce</a>
            <ul>
              <li><a href="/ad-creation">Nouvelle annonce</a></li>
              <li><a href="/ad-creation">Mes annonces</a></li>
              <li><a href="">Réservations</a></li> <!-- Calendrier de reservations -->
            </ul>
          </li>

          <li><a href="">Factures</a>
            <ul>
              <li><a href="">Liste</a></li>
              <li><a href="">Recap. financiers</a></li>
            </ul>
          </li>

          <li><a href="">Abonnement</a></li>
          <li><a href="">Prestations</a> <!--Service/Prestation -->
            <ul>
              <li><a href="">Suivi</a></li>
              <li><a href="">Interventions</a></li> <!--Fiche d'interventions-->
            </ul>
          </li>
          <li><a href="">Deconnexion</a></li>
        </ul>
      </div>
    </div>




    <div class="mt-5 mb-5 grid-container">

      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h5>Photos</h5></li>
          </ol>
        </nav>
        {{this.propDetails.id}}
      </div>


      <div class="section">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h5>Description</h5></li>
          </ol>
        </nav>
        {{this.propDetails.description}}
      </div>

      <!--booking-->

      <div class="section">
        <nav aria-label="breadcrumb" class="">
          <ol class="breadcrumb ">
            <li class="breadcrumb-item active" aria-current="page"><h5>Reservation</h5></li>
          </ol>
        </nav>
        <form [formGroup]="bookingDateForm">
        <div id="booking-tab" >
          <table class="table table-bordered">
            <tr >
              <th></th>
               <th class="fs-6 fw-normal" *ngFor="let day of dayOfWeek" >{{day}} </th>
            </tr>
            <tr *ngFor="let mh of morningHour">
              <td>{{mh}}</td><td class="text-center" *ngFor="let cpt of dayOfWeek"><input  class="form-check-input" type="checkbox" value="{{mh}}"></td>
            </tr>
            <div class="mt-2"></div>
            <tr *ngFor="let ah of afternoonHour">
              <td>{{ah}}</td><td class="text-center" *ngFor="let cpt of dayOfWeek"><input class="form-check-input" type="checkbox" value="{{ah}}"></td>
            </tr>
          </table>
        </div>
          <div class="form-group">
            <button type="submit" (click)="prev()" class="btn btn-link mb-1 btn-sm">Precedent</button>
            <button type="submit" (click)="next()" class="btn btn-link mb-1 btn-sm">Suivant</button>
            <button type="submit" (click)="onSubmitBookingDate()" class="btn btn-primary mb-1 btn-sm" [disabled]="bookingDateForm.invalid" >Envoyer</button>
          </div>
        </form>
      </div>

      <!--Services-->

      <div class="section">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h5>Services</h5></li>
          </ol>
        </nav>
        <div>
          <form [formGroup]="deliveryReqForm">
            <div  class="form-group col-sm-4 mr-2"> <!--style="margin-bottom: 4%;margin-right: 1%"-->
              <label for="type" class="form-label">Type</label>
              <select formControlName="type" id="type" class="form-select form-select-sm">
                <option [ngValue]="null" disabled>Selectionner le service</option>
                <option *ngFor="let delivery of deliveries"  [ngValue]="delivery.id">{{delivery.type}}</option>
              </select>
            </div>

            <div class="form-group mb-2 col-sm-6">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control form-control-sm" formControlName="description" id="description"  rows="3"  required></textarea>
            </div>

            <div class="form-group">
              <button type="submit" (click)="onSubmit()" class="btn btn-primary mb-1 btn-sm" [disabled]="deliveryReqForm.invalid" >Envoyer</button> <!-- [disabled]="!deliveryReqForm.valid"-->
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
</div>


</body>
</html>


