<app-aside></app-aside>


  <div class="container-fluid mt-5" style="margin-left: 20%;width: 800px">
      <h3>Deposer une annonce</h3>
      <form [formGroup]="adForm" novalidate>
        <div class="d-flex mb-2" >
          <div class="form-group col-sm-6 ">
            <label for="type" class="form-label">Type</label>
            <select formControlName="type" id="type" class="form-select form-select-sm">
              <option selected></option>
              <option value="Apart">Appartement</option>
              <option value="Home">Maison</option>
              <option value="Studio">Studio</option>
            </select>
            <div class="form-error-message" *ngIf="this.adForm.get('type')?.touched && (this.adForm.get('type')?.errors || this.adForm.get('type')?.invalid )">
              <span>Choisir le type de propriété</span>
            </div>
          </div>

          <!--this.adForm.get('type')?.invalid && (this.adForm.get('type')?.errors || this.adForm.get('type')?.touched )-->

          <div  class=" form-group col-sm-6 mx-2" >
            <label for="area" class="form-label">Surface</label>
            <input id="area" type="text" placeholder="Surface" formControlName="area" class="form-control form-control-sm" required/>
            <div class="form-error-message" *ngIf="this.adForm.get('area')?.touched && (this.adForm.get('area')?.errors || this.adForm.get('area')?.invalid )">
              <span>Saisir la surface</span>
            </div>
          </div>
        </div>

        <div class="d-inline-flex mb-2">
          <div class="form-group col-sm-6">
            <label for="pieces" class="form-label">Nombre de pieces</label>
            <input id="pieces" type="number" min="0" placeholder="Pieces" formControlName="pieces" class="form-control form-control-sm" required/>
            <div class="form-error-message" *ngIf="this.adForm.get('pieces')?.touched && (this.adForm.get('pieces')?.errors || this.adForm.get('pieces')?.invalid )">
              <span>Saisir le nombre de  pieces</span>
            </div>
          </div>
          <div class="form-group col-sm-6 mx-2">
            <label for="rent" class="form-label">Loyer</label>
            <input id="rent" type="rent" placeholder="Loyer" formControlName="rent" class="form-control form-control-sm" required/>
            <div class="form-error-message" *ngIf="this.adForm.get('rent')?.touched && (this.adForm.get('rent')?.errors || this.adForm.get('rent')?.invalid )">
              <span>Saisir le montant du loyer</span>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-12 mb-2">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control form-control-sm" formControlName="description" id="description"  rows="3" required></textarea>
          <div class="form-error-message" *ngIf="this.adForm.get('description')?.touched && (this.adForm.get('description')?.errors || this.adForm.get('description')?.invalid )">
            <span>Saisir une description </span>
          </div>
        </div>

        <div class="d-inline-flex mb-4">
          <div class="form-group col-sm-6">
            <label for="street" class="form-label">Rue</label>
            <input id="street" type="text" placeholder="Street" formControlName="street" class="form-control form-control-sm" required/>
            <div class="form-error-message" *ngIf="this.adForm.get('street')?.touched && (this.adForm.get('street')?.errors || this.adForm.get('street')?.invalid )">
              <span>Entrer le numero de Rue/Bld/Av.</span>
            </div>
          </div>

          <div class="form-group col-sm-4 mx-2">
            <label for="city" class="form-label">Ville</label>
            <input id="city" type="text" placeholder="Ville" formControlName="city" class="form-control form-control-sm" required/>
            <div class="form-error-message" *ngIf="this.adForm.get('city')?.touched && (this.adForm.get('city')?.errors || this.adForm.get('city')?.invalid )">
              <span>Saisir la ville</span></div>
          </div>

          <div class="form-group col-sm-4">
            <label for="zip" class="form-label">Code postal</label>
            <input id="zip" type="text" placeholder="Code postal" formControlName="zip" class="form-control form-control-sm" required/>
            <div class="form-error-message" *ngIf="this.adForm.get('zip')?.touched && (this.adForm.get('zip')?.errors || this.adForm.get('zip')?.invalid )">
              <span>Saisir le code postal</span>
            </div>
          </div>
        </div>

        <div>
          <button type="submit" (click)="onSubmitAdForm()" class="btn btn-primary mb-3 btn-sm" [disabled]="!adForm.valid" >Suivant</button>
        </div>
      </form>
  </div>


<div class="container-fluid mt-1" style="margin-left: 20%;width: 800px" *ngIf="this.adFormSubmitted && this.savedPropertyId.trim().length!==0">
  <h3>Deposer des photos</h3>
  <form [formGroup]="pictureForm" novalidate>
      <div class="form-group">
        <label for="picture" class="form-label">Image</label>
        <input id="picture" type="file"  formControlName="picture" class="form-control form-control-sm" (change)="selectFile($event)"  required/>
        <div class="form-error-message" *ngIf="this.adForm.get('picture')?.touched && (this.adForm.get('picture')?.errors || this.adForm.get('picture')?.invalid )">
          <span>Selectionner une image</span>
        </div>
      </div>
      <div class="form-group mt-4">
        <button type="submit" (click)="uploadFile()" class="btn btn-primary  btn-sm" [disabled]="!pictureForm.valid" >Enregistrer</button>
      </div>

  </form>
</div>



