

<app-aside></app-aside>
<div class="d-flex flex-column" style="margin-left: 12%;margin-bottom:15%;width: 90%">

  <div class="row title mt-4">
    <h3>Suivi des prestations</h3>
  </div>


  <div class=" row search-form mt-4">
    <form >
      <div class="d-flex mb-2" >
        <div class="form-group col-sm-6 ">
          <label for="type" class="form-label">Type</label>
          <select  id="type" class="form-select fs-6" [(ngModel)]="deliveryRequestService.delivReqSearch.type" name="type" >
            <option selected></option>
            <option *ngFor="let delivery of this.deliveriesType" value="{{delivery.type}}">{{delivery.type}}</option>
          </select>
        </div>

        <div class="form-group col-sm-6 mx-2" >
          <label for="status" class="form-label">Status</label>
          <select  id="status" class="form-select fs-6">
            <option selected></option>
            <option value="Apart">En attente</option>
            <option value="Home">En cours</option>
            <option value="Studio">Terminée</option>
          </select>
        </div>
      </div>

      <!--<div class="form-group col-sm-12 d-flex">
        <div class=" form-group ">
          <label for="requestStartDate" class="form-label">Du</label>
          <p-calendar class="form-control-lg fs-6" id="requestStartDate" placeholder="Date de debut"  dateFormat="dd.mm.yy" [readonlyInput]="true" [(ngModel)]="deliveryRequestService.delivReqSearch.startDate" name="startDate" />
        </div>
        <div class=" form-group">
          <label for="requestEndDate" class="form-label">Au</label>
          <p-calendar class="form-control-lg fs-6" id="requestEndDate" placeholder="Date de fin" dateFormat="dd.mm.yy"  [readonlyInput]="true" [(ngModel)]="deliveryRequestService.delivReqSearch.endDate" name="endDate" />
        </div>
      </div>-->

      <div class="form-group col-sm-6 mt-2">
        <button type="submit"  class="btn btn-primary mb-3 btn-sm" (submit)="deliveryRequestService.searchForService()" >Rechercher</button>
      </div>
    </form>
  </div>



  <div class=" row mt-4">
    <div *ngIf="!isLoadingdeliveryRequest" class="center-spinner">
      <div class="spinner-border text-primary" role="status" style="width: 10rem; height: 10rem">
      </div>
    </div>


    <div *ngIf="isLoadingdeliveryRequest " class="row py-4">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Client</th>
          <th scope="col">Status actuel</th>
          <th scope="col">Date de création</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let deliveryRequest of this.deliveryRequests">
          <td>{{deliveryRequest.type}}</td>
          <td>{{deliveryRequest.description}}</td>
          <td>{{deliveryRequest.userProfile?.username}} </td>

          <td [ngSwitch]="deliveryRequest.stage[deliveryRequest.stage.length - 1].status">
            <span *ngSwitchCase="'PENDING'">En attente</span>
            <span></span>
          </td>

          <td>{{deliveryRequest.createdAt }}</td>
          <!-- Button trigger modal -->
          <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">Visualiser</button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="isLoadingdeliveryRequest && deliveryRequests.length==0" class="row py-4">
      Vous n'avez aucune demande de prestations
    </div>


    <div *ngIf="isLoadingdeliveryRequest &&  deliveryRequests.length > 0"  class="row">
      <div class="col">Pagination</div>
    </div>


  </div>


