



<div class="container center-div ">
  <h3>Ouvrir un compte Ou <span><a class="link text-decoration-none" href="/signin">Se connecter</a></span></h3>
</div>

<div class="container center-div mt-4 mb-5">
  <form [formGroup]="signupForm">
    <div style="margin-bottom: 1%" class=" form-group col-sm-2">
      <label for="username" class="form-label">Pseudo</label>
      <input id="username" type="text" placeholder="Username" formControlName="username" class=" form-control form-control-sm" required/>
      <div class="form-error-message" *ngIf="this.signupForm.get('username')?.touched && (this.signupForm.get('username')?.errors || this.signupForm.get('username')?.invalid )">
        <span>Entrer un login valide</span>
      </div>
    </div>
    <div style="margin-bottom: 1%" class=" form-group col-sm-2">
      <label for="email" class="form-label">Email</label>
      <input id="email" type="email" placeholder="Email" formControlName="email" class="form-control form-control-sm" required/>
      <div class="form-error-message" *ngIf="this.signupForm.get('email')?.touched && (this.signupForm.get('email')?.errors || this.signupForm.get('email')?.invalid )">
        <span>Entrer une email valide</span>
      </div>
    </div>
    <div style="margin-bottom: 1%" class="form-group col-sm-2 mb-4">
      <label for="password" class="form-label">Mot de passe</label>
      <input id="password" type="password" placeholder="Password" formControlName="password" class="form-control form-control-sm" required/>
      <div class="form-error-message" *ngIf="this.signupForm.get('password')?.touched && (this.signupForm.get('password')?.errors || this.signupForm.get('password')?.invalid )">
        <span>Entrer un mot de passe valide</span>
      </div>
    </div>
    <div>
      <button type="submit" (click)="onSubmit()" class="btn btn-primary mb-3 btn-sm" [disabled]="!signupForm.valid"> ouvrir un compte</button>
    </div>

  </form>
</div>


<!--

<div class="container" style="margin-top: 1%">
  <strong>Ouvrir un compte Ou <span style="margin-right: 1%"><a class="link text-decoration-none" href="/signin">Se connecter</a></span></strong>
</div>
<div class="container" style="margin-top: 1%">
  <form [formGroup]="signupForm" novalidate>
    <div style="margin-bottom: 1%" class=" form-group col-sm-2">
      <label for="username" class="form-label">Pseudo</label>
      <input id="username" type="text" placeholder="Username" formControlName="username" class=" form-control form-control-sm" required/>
      <div style="font-size: 80%;color: red" *ngIf="this.signupForm.get('username')?.errors">Pseudo invalide</div>
    </div>
    <div style="margin-bottom: 1%" class=" form-group col-sm-2">
      <label for="email" class="form-label">Email</label>
      <input id="email" type="email" placeholder="Email" formControlName="email" class="form-control form-control-sm" required/>
      <div style="font-size: 80%;color: red" *ngIf="this.signupForm.get('email')?.errors">Email invalide</div>
    </div>
    <div style="margin-bottom: 1%" class="form-group col-sm-2">
      <label for="password" class="form-label">Mot de passe</label>
      <input id="password" type="password" placeholder="Password" formControlName="password" class="form-control form-control-sm" required/>
      <div style="font-size: 80%;color: red" *ngIf="this.signupForm.get('password')?.errors">Mot de passe invalide</div>
    </div>
    <div>
      <button type="submit" (click)="onSubmit()" class="btn btn-primary mb-3 btn-sm" [disabled]="!signupForm.valid"> ouvrir un compte</button>
    </div>
  </form>
  <div><a class="link text-decoration-none" href="/password">Mot de passe oublié</a> </div>

</div>
-->
