
<aside class="sidebar">
  <div class="sidebar-header">
    <img class="mx-2" src="../../../assets/5551029-logo-immobilier.jpg" alt="logo">
    <h5 style="color: #fafbfc">Paris Janitor</h5>
  </div>
  <ul class="sidebar-links">
    <h4>
      <span>Annonces</span>
      <div class="menu-separator"></div>
    </h4>

    <li>
      <a href="/lessor">Accueil</a>
    </li>

   <!-- <li>
      <a href="/ad-creation">New</a>
    </li>

    <li>
      <a href="/my-ads">Mes annonces</a>
    </li>-->
    <li>
      <a href="/booking-list">Réservations</a>
    </li>
    <h4>
      <span>Prestations</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a href="/delivery-request">Demandes</a>
    </li>
    <h4>
      <span>Factures</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a href="/invoice">Liste</a>
    </li>
   <!-- <li>
      <a href="#">Recap. Finances</a>
    </li>-->
    <h4>
      <span>Compte</span>
      <div class="menu-separator"></div>
    </h4>
    <li>
      <a href="#">Abonnement</a>
    </li>
    <!--<a href="#">Deconnexion</a>-->
    <button (click)="onLogout()" class="btn btn-link">Deconnexion</button>
  </ul>
</aside>
